footer {
    text-align: center;
    margin-top: 20px;
    
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
.article {
    margin-top: 30px;
    margin-bottom: 30px;
}
.published {
    font-style: italic;
}

.admin-table{
    width: 100%;
}
.body {
 margin-top: 10px;
 margin-bottom: 20px;

}

.btn{
    margin-bottom: 20px;
}
