footer {
    text-align: center;
}

.article {
    margin-top: 30px;
    margin-bottom: 30px;
}
.published {
    font-style: italic;
}

.admin-table{
    width: 100%;
}
.body {
 margin-top: 10px;
margin-bottom: 20px;
}